<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../lib/vue.js"></script>
</head>
<body>
  <div id="box">
    <!-- 文本插值 -->
    {{ 10+10 }}
    <!-- 指令 -->
    <!-- 比较危险 相信后端给传过来的数据才可以用v-html 防止XSS.csrf 跨站攻击（前端过滤，后台转义，给Cookie加上属性http） -->
    <div v-html="myhtml"></div>
    <!-- 绑定属性 v-bind -->
    <div v-bind:class="isActive? 'red': 'yellow'">切换class</div>
    <!-- 动态创建和删除 v-if true:创建 false:删除 -->
    <!-- 动态显示和隐藏 v-show true:显示 false:隐藏 -->
    <!-- 绑定事件 v-on -->
    <button v-on:click="handlerClick()">click</button>
    <!-- 循环 v-for -->
    <ul>
      <li v-for="myitem in dataList">
        {{ myitem }}
      </li>
    </ul>
    <!-- 双向绑定 v-model -->
    <!-- 缩写 v-bind:src => :src -->
    <!-- 事件绑定 v-on:src => @src -->
    <div :class="classObj">动态设置class需求-对象写法</div>
    <div :class="classArray">动态设置class需求-数组写法</div>

    <div :style="styleObj">动态设置style需求-对象写法</div>
    <div :style="styleArray">动态设置style需求-数组写法</div>
    <span v-bind:title="message">123123</span>
    <div v-if="test">
      <h1>VUE</h1>
    </div>
    <button @click="control">控制</button>
    <button v-show="false" ref="button">输出</button>
    <p v-html="myhtml"></p>
  </div>
  <script type="text/javascript">
  /*
    2. class 与 style
    (1) 绑定HTML Class： 对象语法、数组语法
        对象语法的时候如果想动态添加则采用 Vue.set(vm.classObj, "d", true)
    (2) 绑定style： 对象语法、数组语法
        对象语法的时候如果想动态添加则采用 Vue.set(vm.styleObj, "fontSize", "30px")
    3. 条件渲染
  */
    var vm = new Vue({
      el: '#box',
      data: {
        test: false,
        isActive: true,
        dataList: ['11111','222','3333'],
        myhtml: "<b>11111</b>",
        message: 'dasdsada',
        classObj: {
          a: true,
          b: true,
          c: false
        },
        classArray: ["a", "b", "c"],
        styleObj: {
          backgroundColor: "red"
        },
        styleArray: [
          {backgroundColor: "red"}
        ]
      },
      methods: {
        handlerClick(){
          console.log('1111')
        },
        control() {
          this.test = !this.test
          console.log(this.$refs.button.click(
            console.log(111)
          ))
        }
      }
    })
  </script>
  <style>
    .red{
      color: red;
    }
    .yellow{
      color: yellow;
    }
  </style>
</body>
</html>