<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../lib/vue.js"></script>
</head>

<body>
  <div id ="app"> 
      <cpn1></cpn1>
  </div>
  <template id="cpn1">
    <div>
      <div @click="btn1">按钮1</div>
      <div @click="btn2">按钮2</div>
    </div>
  </template>
  <template id="cpn2">
      <div>
        <div v-if="type == 1">按钮1的内容</div>
        <div v-if="type == 2">按钮2的内容</div>
      </div>
    </template>
  <script>
    Vue.component('cpn1',{
      template: '#cpn1',
      methods: {
        btn1() {
          console.log(1)
          this.$emit('btn1', 1)
        },
        btn2(){
          console.log(2)
          this.$emit('btn2', 2)
        }
      }
    })
   //创建Vue实例,得到 ViewModel
   const app = new Vue({
    el: '#app',
    data: {
      currentIndex: 0,
      moveList: ['海王', '海尔兄弟', '火影忍者', '进击的巨人'],
    },
    methods: {
      changeColor(index) {
        this.currentIndex = index
      },
      getMoveClass(index) {
        if (this.currentIndex == index) {
          return 'active1'
        } else {
          return ''
        }
      },
    }
   });
  </script>
  <style>
      .active1{
        color: red;
      }
      .line{
        color: royalblue;
      }
    </style>
</body>

</html>